*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body{
    background-color: #1E2019;
}

a{
    text-decoration: none;
    color: #F5D547;
    font-size: 50px;
}

a:hover{
    color: #F4D06F;
}